---
BasedOnStyle: LLVM
BreakBeforeBraces: Allman
ColumnLimit: 120
IndentCaseLabels: true
AllowShortCaseLabelsOnASingleLine: true
AllowShortBlocksOnASingleLine: Always
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
BreakConstructorInitializers: BeforeColon
PackConstructorInitializers: Never
